In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
df = pd.read_csv("fish.csv")
df.head(5)

,#,Name,Sell,Where/How,Shadow,Total Catches to Unlock,Spawn Rates,Rain/Snow Catch Up,NH Jan,NH Feb,...,SH Dec,Color 1,Color 2,Size,Lighting Type,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
0,56,anchovy,200,Sea,Small,0,2–5,No,4 AM – 9 PM,4 AM – 9 PM,...,4 AM – 9 PM,Blue,Red,1x1,No lighting,Fish81,FishAntyobi,FtrFishAntyobi,4201,LzuWkSQP55uEpRCP5
1,36,angelfish,3000,River,Small,20,2–5,No,NaN,NaN,...,4 PM – 9 AM,Yellow,Black,1x1,Fluorescent,Fish30,FishAngelfish,FtrFishAngelfish,2247,XTCFCk2SiuY5YXLZ7
2,44,arapaima,10000,River,XX-Large,50,1,Yes,NaN,NaN,...,4 PM – 9 AM,Black,Blue,3x2,No lighting,Fish36,FishPiraruku,FtrFishPiraruku,2253,mZy4BES54bqwi97br
3,41,arowana,10000,River,Large,50,1–2,No,NaN,NaN,...,4 PM – 9 AM,Yellow,Black,2x1,Fluorescent,Fish33,FishArowana,FtrFishArowana,2250,F68AvCaqddBJL7ZSN
4,58,barred knifejaw,5000,Sea,Medium,20,3–5,No,NaN,NaN,...,All day,White,Black,1x1,Fluorescent,Fish47,FishIshidai,FtrFishIshidai,2265,X3R9SFSAaDzBF4fE3

In [8]:
df.columns

Index(['#', 'Name', 'Sell', 'Where/How', 'Shadow', 'Total Catches to Unlock',
       'Spawn Rates', 'Rain/Snow Catch Up', 'NH Jan', 'NH Feb', 'NH Mar',
       'NH Apr', 'NH May', 'NH Jun', 'NH Jul', 'NH Aug', 'NH Sep', 'NH Oct',
       'NH Nov', 'NH Dec', 'SH Jan', 'SH Feb', 'SH Mar', 'SH Apr', 'SH May',
       'SH Jun', 'SH Jul', 'SH Aug', 'SH Sep', 'SH Oct', 'SH Nov', 'SH Dec',
       'Color 1', 'Color 2', 'Size', 'Lighting Type', 'Icon Filename',
       'Critterpedia Filename', 'Furniture Filename', 'Internal ID',
       'Unique Entry ID'],
      dtype='object')

In [18]:
df_reduced = df.drop(df.loc[:,'NH Jan':"SH Dec"].columns,axis=1)
df_reduced

,#,Name,Sell,Where/How,Shadow,Total Catches to Unlock,Spawn Rates,Rain/Snow Catch Up,Color 1,Color 2,Size,Lighting Type,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
0,56,anchovy,200,Sea,Small,0,2–5,No,Blue,Red,1x1,No lighting,Fish81,FishAntyobi,FtrFishAntyobi,4201,LzuWkSQP55uEpRCP5
1,36,angelfish,3000,River,Small,20,2–5,No,Yellow,Black,1x1,Fluorescent,Fish30,FishAngelfish,FtrFishAngelfish,2247,XTCFCk2SiuY5YXLZ7
2,44,arapaima,10000,River,XX-Large,50,1,Yes,Black,Blue,3x2,No lighting,Fish36,FishPiraruku,FtrFishPiraruku,2253,mZy4BES54bqwi97br
3,41,arowana,10000,River,Large,50,1–2,No,Yellow,Black,2x1,Fluorescent,Fish33,FishArowana,FtrFishArowana,2250,F68AvCaqddBJL7ZSN
4,58,barred knifejaw,5000,Sea,Medium,20,3–5,No,White,Black,1x1,Fluorescent,Fish47,FishIshidai,FtrFishIshidai,2265,X3R9SFSAaDzBF4fE3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,23,tilapia,800,River,Medium,0,7–9,No,Black,Black,1x1,Fluorescent,Fish76,FishThirapia,FtrFishThirapia,4190,as78rnkwY3ahrTkBY
76,66,tuna,7000,Pier,XX-Large,50,2,Yes,Blue,Black,2x1,Fluorescent,Fish57,FishMaguro,FtrFishMaguro,2274,4PnGXx9DSb866AeCM
77,75,whale shark,13000,Sea,Large w/Fin,50,1,Yes,Black,Blue,3x2,No lighting,Fish72,FishJinbeezame,FtrFishJinbee,2282,r3RAtJsXENwnFvQh7
78,21,yellow perch,300,River,Medium,0,7–10,No,Yellow,Black,1x1,Fluorescent,Fish18,FishYellowparch,FtrFishYellowparch,2233,bLgE5dicZniF5zZDW
79,53,zebra turkeyfish,500,Sea,Medium,0,6–8,No,Red,Black,1x1,Fluorescent,Fish44,FishMinokasago,FtrFishMinokasago,2261,h7fa7Fh3Ay7vAxgE2

In [19]:
from sklearn.compose import ColumnTransformer